.btn-detail{
    cursor:pointer;
}
.btn-jalur{
    cursor:pointer;
}
.btn-verifikasi{
    cursor:pointer;
}
.btn.btn-icon.btn-warning.icon-white i {
    color:#FFFFFF !important;
}
.modal-content{
    border :0px;
}

.w-10{
    width: 10% !important;
}

.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}


.w-75 {
    width: 75% !important;
}
.pointer{
    cursor:pointer !important;
}

div.dataTables_wrapper div.dataTables_processing {
    border-color: #1E9FF2;
}
.white{
    color:white !important;
}

.height-30{
    height:30px !important;
}
.height-38{
    height:38px !important;
}

/*.dataTables_wrapper .dataTables_scroll {*/
/*margin: 0 !important;*/
/*}*/

/*.dataTables_info{*/
/*    padding:20px  !important;*/
/*}*/

/*.dataTables_paginate{*/
/*    padding:20px !important;*/
/*}*/

.table .thead-info th {
    color: #fff;
    background-color: #005CB7;
    border-color: #005CB7;
}

